<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<style>
    
    *, body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    p{
        margin-top:2px;
        margin-bottom:2px;
    }
    .data{
        color:red
    }

    .space-line{
        width: 20%;
        margin: 4px auto;
        border-color: black;
    }
    .fix-col{
        width:30%;
    }
    ul {
        margin: 0;
    }
    ul.dashed, ul.item-plus {
        list-style-type: none;
    }
    ul.dashed, ul.item-plus > li {
        padding-left:15px;
    }
    ul.dashed  > li:before {
        content: " - ";
    }
    ul.item-plus > li:before{
        content: " + ";
    }

</style>
<body>
    <!-- Header -->
    <div align="center">
        <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr style="font-size: 11.5pt;">
                    <td valign="top" style="text-align: center;">
                        <p style="font-family: 'Times New Roman';" class="data"><span>BỘ GIÁO DỤC VÀ ĐÀO TẠO</span></p>
                        <p style="font-weight: bold; width: 230px;margin: 0 auto;"class="data">TRƯỜNG ĐẠI HỌC Y DƯỢC BUÔN MA THUỘT</p>
                        <hr class="space-line">
                        <p><span class="data"> Số: «Mã_số_HĐ_thử_việc»</span></p>
                    </td>
                    <td valign="top" style="font-weight: bold;text-align: center;">
                        <p>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
                        <p>Độc lập - Tự do - Hạnh phúc</p>
                        <hr class="space-line">
                        <p style="font-style: italic; font-weight: normal;">Đắk Lắk, ngày <span class="data">21</span> tháng <span class="data">01</span> năm <span class="data">2022</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Title -->
    <p style="text-align:center; font-size: 18pt; font-weight: bold; margin-top: 20px; margin-bottom:10px">HỢP ĐỒNG THỬ VIỆC</p>
    <p style="font-style: italic;">
        Căn cứ Bộ Luật Dân sự hiện hành của Nước Cộng hòa Xã hội Chủ nghĩa Việt Nam;<br>
        Căn cứ Bộ Luật Lao động hiện hành của Nước Cộng hòa Xã hội Chủ nghĩa Việt Nam;<br>
        Căn cứ vào yêu cầu và thỏa thuận của các bên.
    </p>
    <!-- Info -->
    <p>Hôm nay, ngày <span class="data">21/12/2022</span>, Tại trụ sở <span class="data">Bệnh viện</span> Đại học Y Dược Buôn Ma Thuột, chúng tôi gồm:</p>
    <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td valign="top" class="fix-col"><p>NGƯỜI SỬ DỤNG LAO ĐỘNG</p></td>
                <td valign="top"><p>: <span class="data">BỆNH VIỆN ĐẠI HỌC Y DƯỢC BUÔN MA THUỘT</span></p></td>
            </tr>
            <tr>
                <td valign="top" class="fix-col"><p>Địa chỉ</p></td>
                <td valign="top"><p>: <span class="data">Số 298 Hà Huy Tập, Phường Tân An, Tp. Buôn Ma Thuột, Tỉnh Đắk Lắk Số 298 Hà Huy Tập, Phường Tân An, Tp. Buôn Ma Thuột, Tỉnh Đắk Lắk</span></p></td>
            </tr>
            <tr>
                <td valign="top" class="fix-col"><p>Điện thoại</p></td>
                <td valign="top"><p>: <span class="data">(0262) 3 765 999</span></p></td>
            </tr>
            <tr>
                <td valign="top" class="fix-col"><p>Đại diện bởi</p></td>
                <td valign="top"><p>: Ông/Bà <span class="data" style="text-transform: uppercase;font-weight: bold;">Nguyễn Văn An</span></p></td>
            </tr>
            <tr>
                <td valign="top" class="fix-col"><p>Chức vụ</p></td>
                <td valign="top"><p>: <span class="data" >Nhân viên hành chính</span></p></td>
            </tr>
            <tr>
                <td colspan="2"><p>(Sau đây gọi là “<span class="data">Bệnh viện</span>”)</p></td>
            </tr>
            <tr>
                <td valign="top" class="fix-col"><p>Và một bên là</p></td>
                <td valign="top"><p>Ông/Bà: <span class="data">Nguyễn Văn An</span></p></td>
            </tr>
            <tr>
                <td valign="top" class="fix-col"><p>Quốc tịch</p></td>
                <td valign="top"><p>: <span class="data">Việt Nam</span></p></td>
            </tr>
            <tr>
                <td valign="top" class="fix-col"><p>Ngày sinh</p></td>
                <td valign="top"><p class="data">: <span class="data">12/12/2002</span></p></td>
            </tr>
            <tr>
                <td valign="top" class="fix-col"><p>Giới tính</p></td>
                <td valign="top"><p class="data">: <span class="data">Nam</span></p></td>
            </tr>
            <tr>
                <td valign="top" class="fix-col"><p>Số CCCD/CMND : <span class="data">063215685497</span></p></td>
                <td valign="top"><p>Ngày cấp : <span class="data">12/01/2022</span></p></td>
            </tr>
            <tr>
                <td valign="top" class="fix-col"><p>Nơi cấp</p></td>
                <td valign="top"><p>: <span class="data">Đăk lăk</span></p></td>
            </tr>
            <tr>
                <td valign="top" class="fix-col"><p>Số điện thoại</p></td>
                <td valign="top"><p>: <span class="data"> 0984923998</span></p></td>
            </tr>
            <tr>
                <td valign="top" class="fix-col"><p>Địa chỉ thường trú</p></td>
                <td valign="top"><p>: <span class="data"> Nguyễn Tất Thành,Tân an, Buôn ma thuột<span></p></td>
            </tr>
            <tr>
                <td valign="top" class="fix-col"><p>Địa chỉ tạm trú</p></td>
                <td valign="top"><p>: <span class="data">Nguyễn Tất Thành,Tân an, Buôn ma thuột<span></p></td>
            </tr>
            <tr>
                <td valign="top" class="fix-col"><p>Trình độ</p></td>
                <td valign="top"><p>: <span class="data">Đại học</span></p></td>
            </tr>
        </tbody>
    </table>

    <!-- Rules -->
    <p style="font-style: italic;">(Sau đây gọi là “<span style="font-weight: bold;">Người lao động</span>”)</p>
    <p style="font-style: italic;">Cùng thỏa thuận ký kết Hợp đồng thử việc (HĐTV) và cam kết làm đúng những điều khoản sau đây:</p>
    <p style="font-weight: bold;">Điều 1: Điều khoản chung</p>
     <div style="padding-left:15px">
        <p>1.1. Loại hợp đồng: Hợp đồng Thử việc</p>
        <ul class="dashed">
            <li>Thời hạn hợp đồng: «Thời_hạn_hợp_đồng_thử_việc» ngày, từ ngày «Ngày_bắt_đầu_làm_thực_tế_cho_HĐ_thử_việc» đến ngày «Ngày_kết_thúc_làm_theo_HĐ_thử_việc».</li>
            <li>Người sử dụng lao động có quyền chấm dứt Hợp đồng thử việc trước thời gian nêu trên nếu người lao động không đáp ứng yêu cầu công việc.</li>
        </ul>
        <p>1.2. Địa điểm làm việc:  Tại trụ sở <span class="data"><span class="data">Bệnh viện</span> Đại học Y Dược Buôn Ma Thuột.</span></p>
        <p>1.3. Bộ phận công tác: <span class="data">«Khoa_phòng»</span> , <span class="data"><span class="data">Bệnh viện</span> Đại học Y Dược Buôn Ma Thuột.</span></p>
        <p>1.4. Chức danh: <span class="data">«chức_danh»</span>.</p>
        <p>1.2. Địa điểm làm việc:  Tại trụ sở <span class="data"><span class="data">Bệnh viện</span> Đại học Y Dược Buôn Ma Thuột.</span></p>
        <p>1.5. Nhiệm vụ công việc như sau:</p>
        <ul class="dashed">
            <li>Thực hiện công việc theo đúng chức danh chuyên môn và theo bảng mô tả công việc của chức danh dưới sự phân công, chỉ đạo của Cán bộ lãnh đạo hoặc các cá nhân được ủy quyền phụ trách.</li>
            <li>Phối hợp cùng với các đơn vị khác trong <span class="data">Bệnh viện</span> để phát huy tối đa hiệu quả công việc.</li>
            <li>Hoàn thành những công việc khác theo yêu cầu làm việc của <span class="data">Bệnh viện</span>, theo Nội quy lao động, các quy định, quy chế nội bộ có liên quan và theo quyết định của <span class="data">Ban Giám đốc Bệnh viện</span> hoặc các cá nhân được ủy quyền phụ trách.</li>
        </ul>
     </div>
    <p style="font-weight: bold;">Điều 2: Chế độ làm việc</p>
    <div style="padding-left:15px">
        <p>2.1. Thời gian làm việc: <span class="data">08 tiếng/ngày, 06 ngày/tuần</span>.</p>
        <ul class="dashed data">
            <li>Làm thêm giờ và trực đêm: Theo quy định của <span class="data">Bệnh viện</span> và quy định hiện hành của pháp luật.</li>
        </ul>
        <p>2.2. Thiết bị và công cụ làm việc, bảo hộ lao động: Được cấp phát những dụng cụ làm việc và trang bị bảo hộ lao động theo yêu cầu của công việc được giao.</p>
        <p>2.3. Điều kiện an toàn và vệ sinh lao động tại nơi làm việc theo quy định của pháp luật hiện hành.</p>
    </div>
    <p style="font-weight: bold;">Điều 3: Quyền lợi, nghĩa vụ và trách nhiệm của người lao động</p>
    <div style="padding-left:15px">
        <p style="font-weight: bold;">3.1. Quyền lợi:</p>
        <ul class="dashed">
            <li>Phương tiện đi lại, làm việc: Người lao động tự túc</li>
            <li>Mức lương: <span class="data">8.500.000</span> VNĐ <br>
                <span style="font-style:italic">(Trong thời gian thử việc Mức lương thử việc = 85% Mức lương chính thức).</span>
            </li>
            <li>Các khoản trợ cấp, hỗ trợ:</li>
            <table style="margin-left:20px">
                <tbody>
                    <tr>
                        <td valign="top" class="fix-col data"><p>+ Cơm trưa:</p></td>
                        <td valign="top"><p> <span class="data">30.000</span> VNĐ</p></td>
                    </tr>
                    <tr>
                        <td valign="top" class="fix-col data"><p>+ Điện thoại:</p></td>
                        <td valign="top"><p> <span class="data">100.000</span> VNĐ</p></td>
                    </tr>
                    <tr>
                        <td valign="top" class="fix-col data"><p>+ Đồng phục:</p></td>
                        <td valign="top"><p> <span class="data">150.000</span> VNĐ</p></td>
                    </tr>
                    <tr>
                        <td valign="top" class="fix-col data"><p>+ Xăng xe:</p></td>
                        <td valign="top"><p> <span class="data">200.000</span> VNĐ</p></td>
                    </tr>
                    <tr>
                        <td valign="top" class="fix-col data"><p>+ Chuyên cần:</p></td>
                        <td valign="top"><p> <span class="data">160.000</span> VNĐ</p></td>
                    </tr>
                    <tr>
                        <td valign="top" class="fix-col data"><p>+ Nhà ở:</p></td>
                        <td valign="top"><p> <span class="data">140.000</span> VNĐ</p></td>
                    </tr>
                    <tr> <td colspan="2" style="font-style:italic">(Trong thời gian thử việc các khoản trợ cấp, hỗ trợ = 85% Mức lương chính thức)</td> <tr>
                    <tr>
                        <td valign="top" class="fix-col data"><p>+ Kết quả công việc:</p></td>
                        <td valign="top">
                            <p class="data">Dựa trên ý thức làm việc, tinh thần thái độ, chất lượng và hiệu quả công việc của người lao động cũng như căn cứ vào việc tuân thủ của người lao động đối với Nội quy, các quy định chính sách của <span class="data">Bệnh viện</span> tại từng thời điểm.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ul>
        <ul class="dashed">
            <li>Hình thức trả lương, trợ cấp: Được trả theo thời gian làm việc thực tế của Người lao động trong tháng</li>
            <li>Thời gian trả tiền lương, trợ cấp: Được trả vào ngày <span class="data">20 hàng tháng</span> bằng tiền mặt hoặc chuyển khoản theo quy định của <span class="data">Bệnh viện</span></li>
            Trong trường hợp có thay đổi về thông tin tài khoản cá nhân, Người lao động phải thông báo trước cho <span class="data">Bệnh viện</span> ít nhất bảy (07) ngày làm việc trước ngày trả lương theo Hợp đồng này</li>
            <li>Tiền thưởng: Theo quy định tại Quy chế trả lương, thưởng và phụ cấp của <span class="data">Bệnh viện</span> và/hoặc theo quyết định của <span class="data">Bệnh viện</span> vào từng thời điểm</li>
            <li>Chế độ nâng lương: Theo quy định của <span class="data">Bệnh viện</span></li>
            <li>Chế độ nghỉ ngơi (nghỉ hàng tuần, phép năm, lễ tết, ...): Theo quy định của pháp luật về lao động, Nội quy lao động và các quy định chính sách của <span class="data">Bệnh viện</span>. Người lao động làm trong môi trường độc hại nguy hiểm sẽ được hưởng phụ cấp theo quy định hiện hành của pháp luật</li></li>
            <li>Bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp (sau đây gọi chung là Bảo hiểm): Người lao động và <span class="data">Bệnh viện</span> đóng Bảo hiểm theo quy định của pháp luật.</li>
            <li>Chế độ đào tạo: Người lao động được tham dự các khóa đào tạo khi cần thiết theo chính sách của <span class="data">Bệnh viện</span> và phải tuân thủ quy định/chính sách đào tạo của <span class="data">Bệnh viện</span>. Trong trường hợp được cử đi đào tạo người lao động phải ký hợp đồng đào tạo (nếu có) và thực hiện đúng, đầy đủ các nghĩa vụ và các điều khoản đã cam kết với <span class="data">Bệnh viện</span>.</li>
            <li>Các chế độ khác: Áp dụng theo quy định của pháp luật về lao động, Nội quy lao động và các quy định chính sách của <span class="data">Bệnh viện</span>.</li>
        </ul>

        <p style="font-weight: bold;">3.2. Nghĩa vụ:</p>
        <ul class="dashed">
            <li>Hoàn thành những công việc đã cam kết trong Hợp đồng thử việc và tất cả các phụ lục, sửa đổi, bổ sung Hợp đồng này (nếu có), theo sự phân công của <span class="data">Bệnh viện</span>.</li>
            <li>Có nghĩa vụ đóng thuế thu nhập cá nhân (“TNCN”) và các khoản đóng nộp khác theo quy định của pháp luật.</li>
            <li>Chấp hành các quy định, quy trình, nội quy về an toàn lao động, vệ sinh lao động có liên quan đến công việc, nhiệm vụ được giao.</li>
            <li>Có nghĩa vụ sử dụng và bảo quản các phương tiện bảo vệ cá nhân, các thiết bị an toàn lao động đã được trang cấp. Chấp hành nghiêm túc kỷ luật lao động, an toàn lao động, vệ sinh lao động, phòng cháy chữa cháy, văn hóa ứng xử, nội quy lao động và các chủ trương, chính sách của <span class="data">Bệnh viện</span>.</li>
            <li>Có nghĩa vụ báo cáo kịp thời với người có trách nhiệm khi phát hiện nguy cơ gây tai nạn lao động, bệnh nghề nghiệp, gây độc hại hoặc sự cố nguy hiểm, tham gia cấp cứu và khắc phục hậu quả tai nạn lao động khi có yêu cầu của <span class="data">Bệnh viện</span>. </li>
            <li>Bồi thường vi phạm và vật chất theo quy chế, nội quy của <span class="data">Bệnh viện</span> trong trường hợp người lao động gây tổn thất, vi phạm các quy chế, nội quy của <span class="data">Bệnh viện</span></li>
            <li>Tuân thủ Hợp đồng trách nhiệm (nếu có), Cam kết Bảo mật thông tin đã ký với <span class="data">Bệnh viện</span>. </li>
            <li>Chấp hành Nội quy lao động, các quy định chính sách của <span class="data">Bệnh viện</span>.</li>
            <li>Tham gia các chương trình đào tạo, tập huấn nâng cao chuyên môn, nghiệp vụ bắt buộc của <span class="data">Bệnh viện</span> mà không yêu cầu thêm quyền lợi, chế độ, hỗ trợ khác.</li>
        </ul>

        <p style="font-weight: bold;">3.3. Trách nhiệm:</p>
        <ul class="dashed">
            <li>Người lao động vi phạm nghĩa vụ theo Hợp đồng này (bao gồm các Phụ lục đi kèm), vi phạm Nội quy, quy định chính sách của <span class="data">Bệnh viện</span> và/hoặc vô ý/cố ý gây thiệt hại cho <span class="data">Bệnh viện</span> phải chịu trách nhiệm theo Nội quy, quy định chính sách của <span class="data">Bệnh viện</span> và phải bồi thường cho <span class="data">Bệnh viện</span> toàn bộ thiệt hại.</li>
            <li>Người lao động cam kết có trách nhiệm đầy đủ với các khoản bồi thường, khoản phải thanh toán mà Người lao động phải có nghĩa vụ thực hiện với <span class="data">Bệnh viện</span> (nếu có theo quy định của pháp luật) khi Người lao động thôi việc.</li>
            <li>Người lao động có nghĩa vụ: Bảo mật thông tin mật, bí mật công nghệ và bí mật kinh doanh của <span class="data">Bệnh viện</span> (“Thông Tin Bảo Mật”) theo quy định của Bệnh viện, Hợp đồng lao động và các Thỏa thuận phát sinh (bao gồm nhưng không giới hạn Hợp đồng bảo mật thông tin); không được trực tiếp hoặc gián tiếp cung cấp bất kỳ Thông Tin Bảo Mật trong suốt thời hạn Hợp đồng và sau khi chấm dứt Hợp đồng. Theo mục đích của Hợp đồng này, Thông Tin Mật được định nghĩa là bất cứ thông tin/tài liệu phục vụ công việc, phục vụ cho hoạt động sản xuất, kinh doanh của <span class="data">Bệnh viện</span> (bất kể có hoặc không liên quan đến công việc của Người lao động) mà không được <span class="data">Bệnh viện</span> công bố công khai ra bên ngoài, các thông tin/tài liệu về cán bộ lãnh đạo (“CBLĐ”) của <span class="data">Bệnh viện</span>. Thông Tin Bảo Mật cũng bao gồm toàn bộ và tất cả thông tin có nguồn gốc từ Thông Tin Bảo Mật.</li>
            <li>Thông báo cho <span class="data">Phòng Tổ chức - Hành chính</span> của <span class="data">Bệnh viện</span> những thay đổi về cá nhân như nhân thân, địa chỉ thường trú, tạm trú, địa chỉ liên lạc, trình độ học vấn, sức khỏe và các thông tin cá nhân liên quan khác của Người lao động ngay khi có thay đổi. Người lao động đảm bảo những thông tin cá nhân cung cấp cho <span class="data">Bệnh viện</span> là thông tin trung thực và chịu mọi trách nhiệm về việc cung cấp những thông tin đó.</li>
        </ul>
    </div>
    <p style="font-weight: bold;">Điều 4: Quyền lợi và nghĩa vụ của người sử dụng lao động</p>
    <div style="padding-left:15px">
        <p style="font-weight: bold;">4.1. Quyền lợi:</p>
        <ul class="dashed">
            <li>Quản lý, điều hành Người lao động thực hiện và hoàn thành công việc trong phạm vi của Hợp đồng này (bố trí, điều chuyển, tạm ngừng việc...).</li>
            <li>Tạm hoãn, chấm dứt hợp đồng lao động đối với người lao động trong các trường hợp sau:
                <ul class="item-plus">
                    <li>Người lao động thường xuyên không hoàn thành công việc theo hợp đồng lao động và có kết quả đánh giá hiệu quả công việc dưới mức quy định theo quy chế của <span class="data">Bệnh viện</span>.</li>
                    <li>Các trường hợp khác theo quy định của nội quy lao động, thỏa ước lao động tập thể (nếu có) của <span class="data">Bệnh viện</span> và quy định hiện hành của pháp luật.</li>
                </ul>
            </li>
            <li>Xử lý kỷ luật Người lao động theo quy định của pháp luật, Nội quy lao động của <span class="data">Bệnh viện</span> và áp dụng các biện pháp bổ sung như sau:
                <ul class="item-plus">
                    <li>Chuyển hồ sơ vi phạm của Người lao động cho cơ quan công an và cơ quan nhà nước có thẩm quyền để xem xét yếu tố hình sự nếu xét thấy vi phạm của Người lao động có yếu tố vi phạm pháp luật về hình sự.</li>
                    <li>Thông báo cho bất cứ một doanh nghiệp nào có đề nghị cung cấp thông tin, hoặc có ý định tuyển dụng Người lao động hoặc bất kỳ một bên thứ ba nào có liên quan với Người lao động, hoặc có ý định hợp tác, tiếp nhận Người lao động, về sự tồn tại của các cam kết giữa Người lao động và <span class="data">Bệnh viện</span> phát sinh trong quan hệ lao động và các vi phạm mà Người lao động đã thực hiện khi đang làm việc tại <span class="data">Bệnh viện</span>.</li>
                </ul>
            </li>
            <li>Có quyền đòi bồi thường, khiếu nại với cơ quan liên đới để bảo vệ quyền lợi của mình nếu người lao động vi phạm Pháp luật hay các điều khoản của hợp đồng này.</li>
        </ul>
        <p style="font-weight: bold;">4.2. Nghĩa vụ:</p>
        <ul class="dashed">
            <li>Thông báo cho người lao động về nội quy, quy chế áp dụng tại <span class="data">Bệnh viện</span>.</li>
            <li>Đảm bảo việc làm và thực hiện đầy đủ những điều đã cam kết trong Hợp đồng này.</li>
            <li>Thanh toán đầy đủ, đúng thời hạn các chế độ và quyền lợi cho Người lao động theo Hợp đồng này, Nội quy lao động, Quy chế trả lương, trả thưởng và phụ cấp của <span class="data">Bệnh viện</span></li>
        </ul>
    </div>
    <p style="font-weight: bold;">Điều 4: Quyền lợi và nghĩa vụ của người sử dụng lao động</p>
    <div style="padding-left:15px">
        <p>5.1.  Những nội dung không quy định trong Hợp đồng này được áp dụng theo Nội quy Lao động, Thỏa ước lao động tập thể (nếu có) của <span class="data">Bệnh viện</span> và quy định hiện hành của pháp luật Việt Nam.</p>
        <p>5.2. Trong quá trình thực hiện hợp đồng, nếu bên nào có yêu cầu sửa đổi, bổ sung nội dung hợp đồng thì phải báo cho bên kia biết trước ít nhất 03 ngày làm việc về những nội dung cần sửa đổi, bổ sung. Trong trường hợp hai bên thỏa thuận được thì việc sửa đổi, bổ sung hợp đồng được tiến hành bằng việc ký kết phụ lục hợp đồng hoặc giao kết hợp đồng mới theo quy định hiện hành của pháp luật. Trong trường hợp hai bên không thỏa thuận được việc sửa đổi, bổ sung nội dung hợp đồng thì tiếp tục thực hiện hợp đồng đã giao kết. </p>
        <p>5.3. Phụ lục hợp đồng là một phần hợp pháp có giá trị pháp lý tương đương hợp đồng. Các Phụ lục của Hợp đồng này cùng với Nội quy lao động của <span class="data">Bệnh viện</span> là một phần không tách rời của Hợp đồng.</p>
        <p>5.4. Hợp đồng này được lập thành 02 bản có giá trị ngang nhau, <span class="data">Bệnh viện</span> giữ 01 (một) bản, Người lao động giữ 01 (một) bản và có hiệu lực kể từ ngày ký.</p>
    </div>
    <p style="font-style: italic;">Hợp đồng này được lập và ký kết tại <span class="data">Bệnh viện</span> <span class="data">Đại học Y Dược Buôn Ma Thuột</span>.</p>

    <div align="center" style="margin-top:30px">
        <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr style="font-size: 11.5pt;">
                    <td valign="top" style="font-weight: bold;text-align: center;">
                        <p>NGƯỜI LAO ĐỘNG</p>
                        <p style="font-style: italic; font-weight: normal;">(Ký, ghi rõ họ tên)</p>
                    </td>
                    <td valign="top" style="font-weight: bold;text-align: center;">
                        <p>NGƯỜI SỬ DỤNG LAO ĐỘNG</p>
                        <p style="font-style: italic; font-weight: normal;">(Ký, ghi rõ họ tên)</p>
                    </td>
                </tr>
            </tbody>
        </table>
</body>
</html>
