
.align-middle {
    color: #b8b8bd;
  }

  .form-add-mandocpriority {
    justify-content: center;
    display: flex;
    border-radius: 10px;
  }

  #form-add-mandocpriority-container {
    background: rgba(0, 0, 0, 0.84);
    overflow-y: scroll;
  }

  #form-update-user-container {
    background: rgba(0, 0, 0, 0.84);
    overflow-y: scroll;
  }

  #cls_bmtu_form_add_title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  .cls_bmtu_close_btn {
    width: 100%;
  }

  .btn-close {
    text-align: right;
    color: red;
  }

  .close_form_add {
    color: red;
    font-size: 20px;
    font-weight: bold;
  }

 

  .edit_mandocpriority {
    cursor: pointer;
    text-decoration: none;
  }

  .auto_col_size {
        -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
  }
  .popup_res {
    max-width: 70%;
        width: 100%;
      height: 85%;
      display: flex;
      align-items: center;
  }
  @media screen and (max-width: 428px) {
  .auto_col_size {
        -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 100%;
  }
  }
  @media screen and (max-width: 578px) {
  .popup_res {
    max-width: 500px;
  }
  }
  input:focus::placeholder {
    color: transparent;
  }
