<div id="popupModal" class="modal fade" role="dialog" aria-hidden="true" data-bs-focus="false" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
  
      </div>
    </div>
</div>
  
<div id="popupMediumModal" class="modal modal-full fade" role="dialog" aria-hidden="true" data-bs-focus="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
      </div>
    </div>
</div>
  
<div id="popupLargeModal" class="modal fade" role="dialog" aria-hidden="true" data-bs-focus="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
  
      </div>
    </div>
</div>
  
<div id="popupSmallModal" class="modal fade" role="dialog" aria-hidden="true" data-bs-focus="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
  
      </div>
    </div>
</div>

<%# Popup Confirm %>
<!-- Confirm popup -->
<div id="popupConfirm" class="modal fade" role="dialog" aria-hidden="true" data-bs-focus="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-sm">
        
      </div>
    </div>
</div>

<!-- Confirm popup with inputs -->
<div id="popupConfirmForm" class="modal fade" role="dialog" aria-hidden="true" data-bs-focus="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-sm">
        
      </div>
    </div>
</div>