<div id="loading">
	<div class="spinner"></div>
	<p>
		<%= lib_translate("Loading") %>...
	</p>
</div>
<div id="loading_handle">
	<div class="spinner_handle"></div>
	<p style="color: var(--falcon-avatar-status-border-color);">
		<%= lib_translate("Inprogress_handle") %>...
	</p>
</div>
